.main-div{
    background: #141414;
    color:white;
    height:auto;
}
.col-div{
    color:white;
}
.col-header{
    color: white;
    font-family: 'Coda Caption', sans-serif;
    font-size:2em;
    line-height: 40px;
    transition:0.5s;
    text-align: center;
    margin-bottom:0 ;
    height: 200px;
}
.col-img{
   background-image:url('../home/img/avatar_about.jpg');
   background-repeat: no-repeat;
   background-size:300px;
   min-width:350px;
   border-radius: 25% 0 25% 0;
   height:400px;
}
.short-p{
    padding-right:65px;
    color: #61dafb;
}
.short-p p{
    text-align: justify;
    font-size: 15px;
    color: white;
}
.theShort,.theLong{
    font-size: 25px;
    height: 4vh;
    transition: 0.3s;
    color: #61dafb;
}
.form-internal{
   max-width:300px ;
   line-height: 35px
}
button{
    padding: 6px;
    margin:10px 0;
    border:0.5px solid white;
    color: white;
    background: rgba(0,0,0,0);transition: 0.5s;
}
button:hover{
    border-color:#61dafb;
    color:#141414;
    background-color: #61dafb;
}