.mainContainer-in-project {
    height: auto;
    width: 100%;
}
.div-project{
    overflow: hidden;
    height: 10vh;
    width: 100%;
    font-weight: bold;
    font-size: 4em;
    line-height: 50px;
    font-family: 'Coda Caption', sans-serif;
}
.project-description-content{
    height: 100vh;
    width: 100%;
}